USE [master]
GO
/****** Object:  Database [kitaptanEOKUL]    Script Date: 20.05.2022 12:00:12 ******/
CREATE DATABASE [kitaptanEOKUL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kitaptanEOKUL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\kitaptanEOKUL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kitaptanEOKUL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\kitaptanEOKUL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kitaptanEOKUL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kitaptanEOKUL]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20.05.2022 12:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 20.05.2022 12:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ders] PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciBilgis]    Script Date: 20.05.2022 12:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciBilgis](
	[OgrencID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NULL,
	[Bolum] [nvarchar](max) NULL,
	[Sinif] [nvarchar](max) NULL,
	[DogumTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.OgrenciBilgis] PRIMARY KEY CLUSTERED 
(
	[OgrencID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciNots]    Script Date: 20.05.2022 12:00:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciNots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OgrencID] [int] NOT NULL,
	[DersID] [int] NOT NULL,
	[Yazili1] [real] NOT NULL,
	[Yazili2] [real] NOT NULL,
	[Yazili3] [real] NOT NULL,
	[Uygulama1] [real] NOT NULL,
	[Uygulama2] [real] NOT NULL,
	[Performans1] [real] NOT NULL,
	[Performans2] [real] NOT NULL,
	[Ortalama] [real] NOT NULL,
 CONSTRAINT [PK_dbo.OgrenciNots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ders] ON 

INSERT [dbo].[Ders] ([DersID], [Ad]) VALUES (1, N'Programlama')
INSERT [dbo].[Ders] ([DersID], [Ad]) VALUES (2, N'Matematik')
INSERT [dbo].[Ders] ([DersID], [Ad]) VALUES (3, N'Türkçe')
SET IDENTITY_INSERT [dbo].[Ders] OFF
GO
SET IDENTITY_INSERT [dbo].[OgrenciBilgis] ON 

INSERT [dbo].[OgrenciBilgis] ([OgrencID], [Ad], [Bolum], [Sinif], [DogumTarihi]) VALUES (1, N'Ahmet', N'Bilişim', N'11', CAST(N'2022-05-20T10:29:09.407' AS DateTime))
INSERT [dbo].[OgrenciBilgis] ([OgrencID], [Ad], [Bolum], [Sinif], [DogumTarihi]) VALUES (2, N'Ali', N'Elektronik', N'10', CAST(N'1999-05-20T11:06:17.000' AS DateTime))
INSERT [dbo].[OgrenciBilgis] ([OgrencID], [Ad], [Bolum], [Sinif], [DogumTarihi]) VALUES (3, N'Ayşe', N'Elektrik', N'10', CAST(N'2022-03-20T11:06:17.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[OgrenciBilgis] OFF
GO
SET IDENTITY_INSERT [dbo].[OgrenciNots] ON 

INSERT [dbo].[OgrenciNots] ([Id], [OgrencID], [DersID], [Yazili1], [Yazili2], [Yazili3], [Uygulama1], [Uygulama2], [Performans1], [Performans2], [Ortalama]) VALUES (2, 2, 2, 1, 2, 3, 4, 5, 6, 7, 4)
INSERT [dbo].[OgrenciNots] ([Id], [OgrencID], [DersID], [Yazili1], [Yazili2], [Yazili3], [Uygulama1], [Uygulama2], [Performans1], [Performans2], [Ortalama]) VALUES (3, 1, 1, 1, 2, 3, 4, 5, 6, 7, 4)
INSERT [dbo].[OgrenciNots] ([Id], [OgrencID], [DersID], [Yazili1], [Yazili2], [Yazili3], [Uygulama1], [Uygulama2], [Performans1], [Performans2], [Ortalama]) VALUES (4, 4, 4, 100, 20, 30, 40, 50, 60, 70, 52.8571434)
SET IDENTITY_INSERT [dbo].[OgrenciNots] OFF
GO
/****** Object:  Index [IX_DersID]    Script Date: 20.05.2022 12:00:13 ******/
CREATE NONCLUSTERED INDEX [IX_DersID] ON [dbo].[OgrenciNots]
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OgrencID]    Script Date: 20.05.2022 12:00:13 ******/
CREATE NONCLUSTERED INDEX [IX_OgrencID] ON [dbo].[OgrenciNots]
(
	[OgrencID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OgrenciNots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OgrenciNots_dbo.Ders_DersID] FOREIGN KEY([DersID])
REFERENCES [dbo].[Ders] ([DersID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OgrenciNots] CHECK CONSTRAINT [FK_dbo.OgrenciNots_dbo.Ders_DersID]
GO
ALTER TABLE [dbo].[OgrenciNots]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OgrenciNots_dbo.OgrenciBilgis_OgrencID] FOREIGN KEY([OgrencID])
REFERENCES [dbo].[OgrenciBilgis] ([OgrencID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OgrenciNots] CHECK CONSTRAINT [FK_dbo.OgrenciNots_dbo.OgrenciBilgis_OgrencID]
GO
USE [master]
GO
